* { box-sizing: border-box; }


header {
    background-color: #eebb44;
	margin-bottom: 40px;
}


.card {

	width: 100%;
	border: 1px solid #E5E5E5;
}

.hero-square {

      width: 100%;

}

.card-content {

	width: 100%;
	padding: 20px;
}

